
/*Aca comienza todo el menu*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
    overflow: hidden;
    height: 100px;
    margin-top: 15px;
}

.logo img {
    height: 200px;
}

.barra ul {
    list-style: none;
    display: flex;
}

.barra ul li {
    margin-left: 20px;
}

.barra ul li a {
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.barra ul li a:hover {
    text-decoration: none;
    background-color: red;
    padding: 10px 10px;
    color: black;
    border-radius: 12px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
}
/*Aca termina todo el menu y misma configuración para los demas*/

/* Estilo General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fondo oscuro y tipografía moderna */
body {
    background-color: #1b1b1b;
    font-family: 'Arial', sans-serif;
    color: white;
}

/* Estilo del header */
header {
    text-align: center;
    margin: 40px 0;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #e50914;
}

/* Estilo de las tarjetas de los equipos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 10%;
}

.container div {
    width: 250px;
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #e50914;
}

.container div:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}

.container div img {
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.container div h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 10px;
}

.container div p {
    font-size: 14px;
    color: #ddd;
}

/* Efectos para las imágenes de los equipos */
img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

footer{
    background-color: black;
    color: red;
    font-size: 20px;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}